In [10]:
import random
import numpy as np
import pandas as pd

# Lists of common American first and last names
names = pd.read_csv('names.txt', header=None)

# Generate dataset
data = []

for i in range(500):
    name = names.iloc[i,0]#.sample(1).iloc[0, 0]
    diagnostic_value = random.uniform(0, 100)  # Uniform distribution between 0 and 100
    
    # Probability of having the disease is inversely proportional to the diagnostic value
    probability = (1 - diagnostic_value / 100)
    has_disease = True if random.random() < probability else False
    
    data.append({
        "name": name,
        "diagnostic_value": diagnostic_value,
        "disease_status": has_disease
    })

# Create DataFrame
df = pd.DataFrame(data)
print(df.head())

# Save to CSV to use in JavaScript
df.to_csv("dataset.csv", index=False)

               name  diagnostic_value  disease_status
0    Elise Davidson         80.082422           False
1       Dante Russo         96.550425           False
2  Tinsley Cardenas          9.288069            True
3   Johnathan Sloan         79.935567           False
4    Selene Jimenez         63.113132           False

In [3]:
df

                 name  diagnostic_value  disease_status
0        Marcus Booth         94.318160            True
1        Julissa Phan         36.518719           False
2     Palmer Schaefer         45.240654           False
3     Zariyah Sherman         85.183084            True
4       Vivian Sawyer         14.677319           False
..                ...               ...             ...
495  Jaxson Jefferson         44.787829            True
496   Lucille Miranda         23.523788            True
497   Remington Heath         55.133354           False
498        Erin Wells         87.959497            True
499    Kimora Stevens         73.604265            True

[500 rows x 3 columns]

In [11]:
names

                    0
0      Elise Davidson
1         Dante Russo
2    Tinsley Cardenas
3     Johnathan Sloan
4      Selene Jimenez
..                ...
995       Ford Orozco
996     Renata Pruitt
997    Gatlin Collins
998   Kinsley Sanders
999       Jose Andrew

[1000 rows x 1 columns]

In [23]:
names[0]

0        Elise Davidson
1           Dante Russo
2      Tinsley Cardenas
3       Johnathan Sloan
4        Selene Jimenez
             ...
995         Ford Orozco
996       Renata Pruitt
997      Gatlin Collins
998     Kinsley Sanders
999         Jose Andrew
Name: 0, Length: 1000, dtype: object

In [13]:
names[1]

KeyError: 1

In [14]:
names.loc[0]

0    Elise Davidson
Name: 0, dtype: object